{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-header text-center py-3" style="background:#0f2044">
        <h5 class="mb-0 text-white fw-bold">SecureVote</h5>
        <small class="text-white-50">Encrypted · Private · Verified</small>
      </div>
      <div class="card-body p-4">
        <form method="POST">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input name="username" class="form-control" autofocus required>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100"
                  style="background:#0f2044;border-color:#0f2044">
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
